<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doświadczenie zawodowe</title>
    <link rel="stylesheet" href="/components/doswiad.css">
</head>

<body>
    <div class="bigBoxDos">
        <div>
            <h1>Doświadczenie zawodowe</h1>

            <a>&nbsp;&nbsp;Od 20-ego roku życia ciężko pracowałem w różnych zawodach.
                Na start praca dorywcza, więc nie ma się czym chwalić. Natomiast
                gdy w wieku 25 lat zdałem prawojazdy C+E zaczeła się moja wielka
                przygoda. Zostałem zawodowym kierowcą wielkiej ciężarówki. Przez
                prawie 12 lat spełniałem marzenie z dzieciństwa. <br>
                &nbsp;&nbsp;W 2016 roku nastąpił zwrot akcji. Stalem się ambitnym
                przedsiębiorcą prowadząc działalność gospodarczą. Przez 6 lat wykonałem
                wiele projektów, montując okna, drzwi, fasady i rolety.<br>
                &nbsp;&nbsp;I stało się, w 2023 roku postanowiłem zmienić co nie co.
                Zaczynam kolejny, nowy etap mojej egzystencji.

            </a>
        </div>
    </div>
</body>

</html>