<!DOCTYPE html>
<html lang="pl-Pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ulubione filmy</title>
    <link rel="stylesheet" href="filmy.css">
    
</head>
<body>
    <div class="bigBoxMove">
<Ul class="headerAll">
    <li class="head">Strona</li>
    <li class="head"></li>
    <li class="head"></li>
    <li class="head">Info</li>
    <li class="head">
        <a class="mail">Kontakt</a>
    </li>
</Ul>
    </div>
</body>
</html>
