<!DOCTYPE html>
<html lang="pl-Pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programowanie</title>
    <link rel="stylesheet" href="../components/kontakt.css">
</head>

<body onload="zegarek()">
    <div class="bigBoxContact">
        <div id="timer">dddd</div>

        <div class="text1">
            <h1>Kontakt</h1>
            <p id="pButton" class="button">
                <a class="backButton" href="../index.html">Powrót</a>
            </p>
        </div>

        <div id="infoMesage">
            <p id="infoP">
                Możesz wysłać mi maila lub zostawić tu wiadomość
            </p>
            <p id="infoP">
                e.mail: <a id="email" href="mailto: grzegorz666dev@gmail.com">grzegorz666dev@gmail.com</a>
            </p>
        </div>

        <div id="image" ha>
            <p>Sprawdź też:</p>
            <a href="https://www.linkedin.com/in/grzegorz-baran-4b93012a3/" target="_blank">
                <img src="./ImgComponent/linkedin.png" alt="logo" width="50" height="60">
            </a>
        </div>




        <div id="messageForm">
            <h2>Zostaw wiadomość</h2>
            <form>
                <textarea id="userMessage" placeholder="Wpisz swoją wiadomość tutaj"></textarea>
                <button type="submit">Zapisz wiadomość</button>
            </form>
        </div>




    </div>

    <script src="./kontakt.js"></script>
    <script src="../script.js"></script>
    <script src="./masageInfo.js"></script>
</body>

</html>