<!DOCTYPE html>
<html lang="pl-Pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programowanie</title>
    <link rel="stylesheet" href="programowanie.css">
</head>

<body onload="zegarek()">
    <div id="weather">
    </div>
    <div class="bigBoxProg">
        <div id="timer">dddd</div>
        <div class="button1">
            <h1>Programowanie</h1>
            <p class="button">
                <a class="backButton" href="../index.html">Powrót</a>
            </p>
        </div>
        <div class="entry">

            <a>
                &nbsp;&nbsp;&nbsp;&nbsp;Pod koniec 2022 roku, za namową kolegi Rafała, zapisałem się na
                internetowy kurs programowania. W Software Development Academy zapoznałem się
                z podstawami <br> Front-Endu co myślę, było dobrym startem w tym kierunku.
                <br><br>

            </a>
        </div>

        <div class="certificate">
            <img class="dyplom" id="dyp1" src="../img/certfikat-1.jpg" alt="certificate">
            <img class="dyplom" id="dyp2" src="../img/certyfikat-2.jpg" alt="certificate">
        </div>
        <div class="entry">
            <a>
                &nbsp;&nbsp;&nbsp;&nbsp;Nie mniej, faktem jest że prawdziwą naukę zaczołem dopiero po
                zakończeniu
                działalności i pierwsze próby pisania kodu JS pojawiły się w styczniu 2024r. Nie liczę
                pisania tej strony, ponieważ do tej pory jest pisana w większości statycznie.
            </a>
        </div>
        <h1>Kalkulator</h1>
        <div class="entry">

            <a>
                &nbsp;&nbsp;&nbsp;&nbsp;Pierwszy kod z użyciem JSa to prosty kalkulator. Po kliknięciu
                w niego otworzy się Git Hub z jego repozytorium.
            </a>
        </div>
        <div>
            <a href="https://github.com/Grzegorz666dev/Calculator" class="cal">
                <img class="calculator" src="../img/Kalkulator.jpg">
            </a>
        </div>
        <div class="entry">
            <a>Miejsce na kolejne kody:</a>
        </div>

        <div id="kursy">

            <button class="button-ta">GIT</button>
            <button class="button-ta">HTML</button>
            <button class="button-ta">CSS</button>
            <button class="button-ta">JAVA SCRIPT</button>
            <button class="button-ta">REACT</button>
            <button class="button-ta">TIME SCRIPT</button>

        </div>



    </div>
    <script src="../script.js"></script>
</body>

</html>