:root {
  --blue: rgb(67, 67, 243);
  --dark: rgb(54, 6, 54);
  --red: rgb(160, 14, 14);
}

body {
  display: flex;
  background: linear-gradient(var(--dark), var(--blue), var(--red));
  background-repeat: no-repeat;
}

.bigBoxHobby {
  width: 600px;
  height: 1000px;
  margin: 0 auto 0 auto;
  padding: 0;
}
.zainteresowania {
  margin: 60px auto 30px;

  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}
.text1 {
  color: white;
  display: flex;
  justify-content: space-between;
}
p {
  height: 20px;
  width: 55px;
  margin-top: 10px;
  margin-left: 50px;
  background-color: cornflowerblue;
  border-radius: 20px;
  text-align: center;
}
p:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 5px blueviolet;
}

.first {
  width: 33%;
  height: 150px;
}

.foto {
  border-radius: 25px;
  width: 100%;
  height: 100%;
}

.infoPerson {
  padding-bottom: 30px;
}
.textA {
  text-decoration: none;
  color: white;
}
.stopka {
  font-size: 10px;
}
.backButton {
  text-decoration: none;
}
