<!DOCTYPE html>
<html lang="pl-Pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zainteresowania</title>
    <link rel="stylesheet" href="./zainteresowania.css">

</head>

<body>
    <div class="bigBoxHobby">
        <div>
            <h1>Zainteresowania</h1>
            <h2></h2>
        </div>



        <label class="firstLabel" for="firstInfo">
            <a class="textA">Gry</a>
            <h1 id="GRY"></h1>
        </label>
        <section class="zainteresowania" id="firstInfo">

            <div class="first">
                <img class="foto" id="halo" src="/img/halo.jpg" alt="soldier">
            </div>

            <div class="first">
                <img class="foto" id="agricultural tractor" src="/img/farming.jpg" alt="death">
            </div>

            <div class="first">
                <img class="foto" src="/img/tank1.jpg" alt="bulding">
            </div>


        </section>

        <label class="firstLabel" for="secondInfo">
            <a class="textA">Książki</a>
            <h1 id="KSIAZKI"></h1>
        </label>
        <section class="zainteresowania" id="secondInfo">

            <div class="first">
                <img class="foto" id="dorsaj" src="/img/dorsaj.jpg" alt="book cover">
            </div>

            <div class="first">
                <img class="foto" id="ksin" src="/img/ksin.jpg" alt="book cover">
            </div>

            <div class="first">
                <img class="foto" id="stalker" src="/img/stalker.jpg" alt="book cover">
            </div>


        </section>

        <label class="firstLabel" for="thirdInfo">
            <a class="textA">Filmy</a>
            <h1 id="FILMY"></h1>
        </label>
        <section class="zainteresowania" id="thirdInfo">

            <div class="first">
                <img class="foto" id="lord" src="/img/Lord.jpg" alt="heroes of the lord of the rings">
            </div>

            <div class="first">
                <img class="foto" id="star" src="/img/starTrek.jpg" alt="heroes of Star Trek">
            </div>

            <div class="first">
                <img class="foto" id="valerian" src="/img/valerian.jpg" alt="heroes of Valerian">
            </div>


        </section>
        <a id="stopka">
            "Wszelkie prawa zastrzeżone. Własność Grzegorz Baran. Zdjęcia i materiały użyte
            dzięki uprzejmości dr. Google. 2023"
        </a>
    </div>
</body>

</html>